<div class="card">
    <div class="card-body">
        <div *ngIf="this.cambia.msgalert">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                  {{this.cambia.msgalert}}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
        </div>
    <p class="subtitle">Reset password</p>
    <br>
    <form (ngSubmit)="cambia.verifica()" [formGroup]="cambia.form">
        <p>inserisci la vecchia password:</p>
        <div  class="form-group"><input class="input-fiel" type="password" placeholder="Password" name="password" formControlName="password"/></div>
        <br>
        <button class="btn btn-secondary btn-sm" type="submit">Verifica</button> 
    </form>
</div>
