<p class="subtitle">Appuntamenti</p>
<br>
<div class="tabella">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="ordinario"scope="col">#</th>
        <th class="tipo" scope="col">Tipo</th>
        <th class="nome" scope="col">Professionista</th>
        <th class="data" scope="col">Data</th>
        <th class="ora" scope="col">Ora</th>
        <th class="elimina" scope="col">Elimina</th>
        <th class="modifica" scope="col">Modifica</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <tr *ngFor="let appuntamento  of this.appuntamenti, index as i">
      
        <th class="ordinario" scope="row">{{i+1}}</th>
        <td class="tipo">{{this.appuntamento.tipo}}</td>
        <td class="nome"><a class="nav-link" href="professionista/{{this.appuntamento.idProfessionista}}">{{this.appuntamento.nome}}</a></td>
        <td class="data">{{this.appuntamento.Day}}</td>
        <td class="ora">{{this.appuntamento.StartTime}}</td>
        <td class="elimina"><button type="button" class="btn btn-primary mt-3" (click)="elimina(this.appuntamento._id)">Elimina</button></td>
        <td class="modifica"><button type="button" class="btn btn-primary mt-3" (click)="modifica(this.appuntamento.idProfessionista, this.appuntamento._id)">Modifica</button></td>

      </tr>
    </tbody>
  </table>
</div>
<p class="subtitle">Appuntamenti passati</p>
<br>
<div class="tabella">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="ordinario"scope="col">#</th>
        <th class="tipo" scope="col">Tipo</th>
        <th class="nome" scope="col">Professionista</th>
        <th class="data" scope="col">Data</th>
        <th class="ora" scope="col">Ora</th>
        <div *ngIf="this.ruolo=='admin'">
          <th class="elimina" scope="col">Elimina</th>
        </div>
      </tr>
    </thead>
    <tbody>
      <tr>
      <tr *ngFor="let appuntamento  of this.appuntamentiPassati, index as i">
        <th class="ordinario" scope="row">{{i+1}}</th>
        <td class="tipo">{{this.appuntamento.tipo}}</td>
        <td class="nome"><a class="nav-link" href="professionista/{{this.appuntamento.idProfessionista}}">{{this.appuntamento.nome}}</a></td>
        <td class="data">{{this.appuntamento.Day}}</td>
        <td class="ora">{{this.appuntamento.StartTime}}</td>
        <div *ngIf="this.ruolo=='admin'">
          <td class="elimina"><button type="button" class="btn btn-primary mt-3" (click)="elimina(this.appuntamento._id)">Elimina</button></td>
        </div>
      </tr>
    </tbody>
  </table>
  </div>