<app-titolo></app-titolo>
<br>
<h3>Curiosità</h3>
<div *ngFor="let animale of animali">
    <br>
    <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample{{animale.animale}}" role="button" aria-controls="offcanvasExample">
        {{animale.animale}}
    </a>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample{{animale.animale}}" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasExampleLabel">{{animale.animale}}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          <h4>Descrizione:</h4>
          {{animale.descrizione}}
          <br> <br>
          <h4>Nome scientifico:</h4>
          {{animale.curiosita}}
        </div>
      </div>
    </div>
</div>

