<app-titolo></app-titolo>

<div class="container mt-4 col-12">
  <h3>Curiosità</h3>
  <div *ngFor="let animale of animali" class="scheda">
      <br>
      <!-- Scheda di un animale -->
      <div class="card" >
        <img src="assets/img/curiosita/carta/{{animale.icona}}" class="card-img-top" alt="{{animale.animale}}">
        <div class="card-body">
          <h5 class="card-title">{{animale.animale}}</h5>
          <p class="card-text">{{animale.descrizione}}</p>
          <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#scheda{{animale.animale}}" role="button" aria-controls="offcanvasExample">Apri la scheda</a>
        </div>
      </div>
      
      <!-- Pagina delle curiosità-->
      <div class="offcanvas offcanvas-start" tabindex="-1" id="scheda{{animale.animale}}" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h3 class="offcanvas-title" id="offcanvasExampleLabel">{{animale.animale}}</h3>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            <img src="assets/img/curiosita/scheda/{{animale.img}}" class="card-img-top" alt="{{animale.animale}}">
            <h4>Descrizione:</h4>
            {{animale.descrizione}}
            <br> <br>
            <h4>Nome scientifico:</h4>
            {{animale.curiosita}}
          </div>
        </div>
      </div>
  </div>
</div>
