a.btn.btn-primary{
    background-color: #AA0000;
    border-color:black;
    display: flex;
    flex: none;
    margin-left: 5%;
    margin-right: 75%;
}

h4{
    color:#AA0000;
}

div.offcanvas-header{
    background-color: #AA0000;
    color: white;
}

