<app-navbar></app-navbar>
<br>
<h5 class="benvenuto">Benvenuto nel profilo di {{this.prof.nome}}</h5>
<div *ngIf="prenotazione; then thenBlock1 else elseBlock1" ></div>
<ng-template #thenBlock1>
    <br>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    DATI
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="card-body">
                        <div class="card">
                            <table class="table table-striped">
                                <tr>
                                    <td class="desc"scope="col">Nome:</td>
                                    <td class="dati"scope="col">{{this.prof.nome}} </td>
                                </tr>
                                <tr>
                                    <td class="desc"scope="col">Tipo:</td>
                                    <td class="dati"scope="col">{{this.prof.tipo}} </td>
                                </tr>
                                <tr>
                                    <td class="desc"scope="col">Città:</td>
                                    <td class="dati"scope="col">{{this.prof.citta}} </td>
                                </tr>
                                <tr>
                                    <td class="desc"scope="col">Via:</td>
                                    <td class="dati"scope="col">{{this.prof.via}}, n°{{this.prof.civico}} </td>
                                </tr>
                                <tr>
                                    <td class="desc"scope="col">Descrizione:</td>
                                    <td class="dati"scope="col">{{this.prof.descrizione}} </td>
                                </tr>
                                <br>
                                <tr>
                                    <td class="desc"> Servizio online: </td>
                                    <div *ngIf="this.prof.online=='true'; then thenBlock1 else elseBlock1"></div>
                                    <ng-template #thenBlock1>
                                        <td class="dati"> sì</td>
                                    </ng-template>
                                    <ng-template #elseBlock1>
                                        <td class="dati"> no </td>
                                    </ng-template>
                                </tr>
                                <tr>
                                    <td class="desc"> Servizio a domicilio: </td>
                                    <div *ngIf="this.prof.domicilio; then thenBlock2 else elseBlock2"></div>
                                    <ng-template #thenBlock2>
                                        <td class="dati"> sì</td>
                                    </ng-template>
                                    <ng-template #elseBlock2>
                                        <td class="dati"> no </td>
                                    </ng-template>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ORARI
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th rowspan="2" scope="col">Giorno</th>
                                <th scope="col" colspan="2">Mattina</th>
                                <th scope="col" colspan="2">Pomeriggio</th>
                            </tr>
                            <tr>
                                <th scope="col">Da</th>
                                <th scope="col">A</th>
                                <th scope="col">Da</th>
                                <th scope="col">A</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor=" let giorno of this.prof.disponibilita" >
                                    <td>{{this.giorno}}</td>
                                    <td>{{this.prof.mattinaDa}}</td>
                                    <td>{{this.prof.mattinaA}}</td>
                                    <td>{{this.prof.pomeriggioDa}}</td>
                                    <td>{{this.prof.pomeriggioA}}</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            RECENSIONI
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="recensioni">
                                <div *ngIf="this.tabellaRecensioni==true">
                                    <div class="card-body">
                                        <div class="card">
                                            <div *ngFor="let recensione of recensioni, index as i">
                                                <div class="card-body">
                                                    <div class="card">
                                                        <p class="utente">{{recensione.u}}</p>
                                                        <p>{{recensione.r}}</p>
                                                        <div *ngIf="user== recensione.u || this.ruolo=='admin'">
                                                            <button class="btn btn-secondary btn-sm" type="submit" (click)="eliminaRec(recensione.id)">Elimina</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="this.ruolo=='utente'&& this.recensione!=true && this.tabellaRecensioni==true"><!--aggiungere controllo che se hai già recensito non puoi aggiungerla ma modificare le tue-->
                                    <button class="btn btn-secondary btn-sm" type="submit" (click)="addRecensione()">Recensisci</button>
                                </div>
                            </div>
                            <div *ngIf="this.recensione==true">
                                <form (ngSubmit)="salvaRecensione()" [formGroup]="form">
                                    <div class="card-body">
                                        <div class="card">
                                            <p>Inserisci la tua recensione: </p>
                                            <div class="form-group"><input class="form-control" id="recensione" type="text-area" name="recensione" formControlName="recensione" /></div>
                                            <br>
                                            <button class="btn btn-secondary btn-sm" type="submit">Salva</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>            
                </div>
                <div *ngIf="this.ruolo=='admin'" class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            APPUNTAMENTI
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="appuntamenti">
                                <p class="subtitle">Appuntamenti</p>
                                <br>
                                <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th class="ordinario"scope="col">#</th>
                                        <th class="cliente" scope="col">Cliente</th>
                                        <th class="data" scope="col">Data</th>
                                        <th class="ora" scope="col">Ora</th>
                                        <th class="luogo" scope="col">Luogo</th>
                                        <th class="elimina" scope="col">Elimina</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                      <tr *ngFor="let appuntamento  of this.appuntamenti, index as i">
                                      
                                        <th class="ordinario" scope="row">{{i+1}}</th>
                                        <td class="cliente"><a class="nav-link" href="profili/{{this.appuntamento.Subject}}">{{this.appuntamento.Subject}}</a></td>
                                        <td class="data">{{this.appuntamento.Day}}</td>
                                        <td class="ora">{{this.appuntamento.StartTime}}</td>
                                        <td class="luogo">{{this.appuntamento.luogo}}</td>
                                        <td class="elimina"><button type="button" class="btn btn-primary mt-3" (click)="eliminaApp(this.appuntamento._id)">Elimina</button></td>
                                
                                      </tr>
                                    </tbody>
                                </table>
                                <p class="subtitle">Appuntamenti passati</p>
                                <br>
                                <div class="tabella">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="ordinario"scope="col">#</th>
                                        <th class="cliente" scope="col">Cliente</th>
                                        <th class="data" scope="col">Data</th>
                                        <th class="ora" scope="col">Ora</th>
                                        <th class="luogo" scope="col">Luogo</th>
                                        <div *ngIf="this.ruolo=='admin'">
                                        <th class="elimina" scope="col">Elimina</th>
                                        </div>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                    <tr *ngFor="let appuntamento  of this.appuntamentiPassati, index as i">
                                        <th class="ordinario" scope="row">{{i+1}}</th>
                                        <td class="cliente"><a class="nav-link" href="profili/{{this.appuntamento.Subject}}">{{this.appuntamento.Subject}}</a></td>
                                        <td class="data">{{this.appuntamento.Day}}</td>
                                        <td class="ora">{{this.appuntamento.StartTime}}</td>
                                        <td class="luogo">{{this.appuntamento.luogo}}</td>
                                        <div *ngIf="this.ruolo=='admin'">
                                            <td class="elimina"><button type="button" class="btn btn-primary mt-3" (click)="eliminaApp(this.appuntamento._id)">Elimina</button></td>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    
<br>
<div *ngIf="this.ruolo=='utente'; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <button class="btn btn-dark btn-sm" (click)="prenota()">Prenota</button>
</ng-template>
<ng-template #elseBlock>
    <button class="btn btn-dark btn-sm" (click)="elimina()">Elimina</button>
</ng-template>
</ng-template>
<ng-template #elseBlock1>
    <app-prenota [dati] = (dati)>

    </app-prenota>
</ng-template>
    





