<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <div class="formaContainer">
                <form (ngSubmit)="controllaCodice()" [formGroup]="form">
                <h6>Inserisci il codice che ti abbiamo inviato via mail</h6>
                <div  class="form-group"><input class="input-fiel" type="text" placeholder="Codice" name="codice" formControlName="codice"/></div>
                <br>
                <div *ngIf="this.msgalert">
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                          {{this.msgalert}}
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary btn-sm">Verifica</button>
            </form>
        </div>
    </div>
</div>
