<div class="card">
    <div class="card-body">
        <p class="subtitle">Nuova password</p>
        <br> 
        <form (ngSubmit)="cambia.controllaPassword()" [formGroup]="cambia.form2">            
            <p>Inserisci la nuova password</p>
            <div  class="form-group"><input class="input-fiel" type="password" placeholder="Password" name="password" formControlName="password2"/></div>
            <br>
            <button type="submit" class="btn btn-secondary btn-sm">Confema</button>
        </form>
    </div>
</div>
