.base{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button:focus{
    color: white;
    background-color: #AA0000;
}


.btn-dark{
    margin-left: 80%;
    margin-right: 20%;
}

