<app-navbar></app-navbar>
<br>
<div class="base">
    <h3>Benvenuto nel tuo profilo</h3>
    <br>
    <ul class="menu">
        <li>
            <button class="btn btn-secondary btn-sm" (click)="profilo.showDati()">Dati</button> 
        </li><br>
        <li>
            <button class="btn btn-secondary btn-sm" (click)="profilo.showStatistiche()">Statistiche giochi</button>
        </li><br>
        <li>
            <button class="btn btn-secondary btn-sm" (click)="profilo.showPrenotazioni()">Prenotazioni</button>
        </li>
    </ul>
    <br>
    <button id="eliminia" class="btn btn-dark btn-sm" (click)="profilo.showElimina()">Cancella account</button>
</div>
<br>
<div *ngIf="profilo.selectedDati">
    <app-dati-utente></app-dati-utente>
</div>
<div *ngIf="profilo.selectedStatistiche">
    <app-statistiche-utente></app-statistiche-utente>
</div>
<div *ngIf="profilo.selectedPrenotazioni">
    <app-storico-prenotazioni></app-storico-prenotazioni>
</div>
<div *ngIf="profilo.selectedElimina">
    <app-elimina-account></app-elimina-account>
</div>