#subtitle{
    background-color: #AA0000;
    color: white;
    font-weight: bolder;
}

.btn.btn-secondary.btn-sm{
    color: white;
    background-color: #AA0000;
}

#addFoto{
    border-radius: 100%;
    display: flex;
    justify-items: center;
    background-color: transparent;
    border-color: transparent;
}
