<app-navbar></app-navbar>
<br>
<h3>Nuovo Professionista</h3>
<p>Chi vuoi aggiungere?</p>
<div class="card">
    <div class="card-body">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (change)="checked('Ripetizioni di canto')">
            <label class="form-check-label" for="flexRadioDefault1">
              Ripetizioni di canto
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" (change)="checked('Veterinario')">
            <label class="form-check-label" for="flexRadioDefault2">
              Veterinario
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" (change)="checked('Psicologo')">
            <label class="form-check-label" for="flexRadioDefault3">
              Psicologo
            </label>
        </div>
    </div>
</div>
<div *ngIf="this.ruolo!=undefined">
    <div class="formaContainer">
        <form (ngSubmit)="salva()" [formGroup]="form">
            <h5>Aggiungi {{this.ruolo}}</h5>
            <label class="form-gruop-label" for="nome"> Nome: </label>
            <div  class="form-group"><input class="input-fiel" placeholder="" type="text" id="nome" formControlName="nome" /></div>
            <label class="form-gruop-label" for="città"> Città: </label>
            <div class="form-group"><input class="input-field" placeholder="" type="text"  id="città" formControlName="città"/></div>
            <label class="form-gruop-label" for="via"> Via: </label>
            <div class="form-group"><input class="input-field" placeholder="" type="text"  id="via" formControlName="via"/></div>
            <label class="form-gruop-label" for="civico"> Civico: </label>
            <div class="form-group"><input class="input-field" placeholder="" type="number" min="1"  id="civico" formControlName="civico"/></div>
            <label class="form-gruop-label" for="descrizione"> Descrizione: </label>
            <div class="form-group"><textarea class="input-field" placeholder="" type="text" maxlength="500" cols="50" rows="8" id="descrizione" formControlName="descrizione"></textarea></div>
            <br>
            <div class="card">
                <div class="card-body">
                    <label class="desc">Disponibilità: </label>
                    <br>
                    <div id="disponibilità"> 
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Lunedì" (click)="addGiorno('Lunedì')">
                            <label class="form-check-label" for="Lunedì">
                            Lunedì
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Martedì" id="Martedì" (click)="addGiorno('Martedì')">
                            <label class="form-check-label" for="Martedì">
                            Martedì
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Mercoledì" id="Mercoledì" (click)="addGiorno('Mercoledì')">
                            <label class="form-check-label" for="Mercoledì">
                            Mercoledì
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Giovedì" id="Giovedì" (click)="addGiorno('Giovedì')" >
                            <label class="form-check-label" for="Giovedì">
                            Giovedì
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Venerdì" id="Venerdì" (click)="addGiorno('Venerdì')">
                            <label class="form-check-label" for="Venerdì">
                            Venerdì
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Sabato" id="Sabato" (click)="addGiorno('Sabato')">
                            <label class="form-check-label" for="Sabato">
                            Sabato
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Domenica" id="Domenica" (click)="addGiorno('Domenica')">
                            <label class="form-check-label" for="Domenica">
                            Domenica
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <label class="desc">Orario: </label>
                    <div class="orari">
                        <div class="card">
                            <div class="card-body">
                                <p>Mattina</p>
                                <label class="form-gruop-label" for="mattinaDa"> da: </label>
                                <div  class="form-group"><input class="input-fiel" placeholder="" type="time" id="mattinaDA" formControlName="mattinaDa" /></div>
                                <label class="form-gruop-label" for="mattinaA"> a: </label>
                                <div  class="form-group"><input class="input-fiel" placeholder="" type="time" id="mattinaA" formControlName="mattinaA" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="orari">
                        <div class="card">
                            <div class="card-body">
                                <p>Pomeriggio</p>
                                <label class="form-gruop-label" for="pomeriggioDa"> da: </label>
                                <div  class="form-group"><input class="input-fiel" placeholder="" type="time" id="pomeriggioDa" formControlName="pomeriggioDa" /></div>
                                <label class="form-gruop-label" for="pomeriggioA"> a: </label>
                                <div  class="form-group"><input class="input-fiel" placeholder="" type="time" id="pomeriggioA" formControlName="pomeriggioA" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <label class="desc">Servizio online: </label>
                    <br>
                    <div class="form-checkonline">
                        <input  type="radio" name="flexRadioDefault1" id="flexRadioDefault4"  (change)="online('true')">
                        <label class="form-check-label" for="flexRadioDefault4">
                          sì
                        </label>
                    </div>
                    <div class="form-checkonline">
                        <input  type="radio" name="flexRadioDefault1" id="flexRadioDefault5"  (change)="online('false')">
                        <label class="form-check-label" for="flexRadioDefault5">
                          no
                        </label>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <label class="desc">Servizio domicilio: </label>
                    <br>
                    <div class="form-checkdomicilio">
                        <input class="form-check-input2" type="radio" name="flexRadioDefault2" id="flexRadioDefault6" (change)="domicilio('true')">
                        <label class="form-check-label" for="flexRadioDefault6">
                          sì
                        </label>
                    </div>
                    <div class="form-checkdomicilio">
                        <input class="form-check-input2" type="radio" name="flexRadioDefault2" id="flexRadioDefault7" (change)="domicilio('false')">
                        <label class="form-check-label" for="flexRadioDefault7">
                          no
                        </label>
                    </div>
                </div>
            </div>
            <br>
            <div *ngIf="this.msgalert">
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                      {{this.msgalert}}
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="close()"></button>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Salva</button>
        </form>
    </div>
</div>
    

