<app-titolo> </app-titolo>
<div class="container mt-4" id="prima">
    <h1>Benvenuto in AnimalHouse</h1>
    <p>Il sitoweb interamente dedicato <del>ai festoni universitari</del> agli animali</p>
    <div class="bottoni">
        <app-login> </app-login> <br>
        <p>Non sei registrato? Nessun problema</p>
        <button type="button" class="btn btn-outline-secondary" [routerLink]="['signup']">Registrati</button>
        <button type="button" class="btn btn-outline-success" [routerLink]="['signupAdmin']">Registrati come ADMIN</button>
        <br>
        <p>Oppure vai nella sezioni giochi senza login</p>
        <button type="button" class="btn btn-outline-danger" [routerLink]="['babyanimal']">Gioca</button>
    </div>
</div>

