<div class="card">
    <div class="card-body">
        <div class="tabella">
            <table class="table table-striped">
                <tr>
                    <td class="desc"scope="col">Username:</td>
                    <td class="dati"scope="col">{{profilo.dati.username}} </td>
                </tr>
                <tr>
                    <td class="desc"scope="col">Ruolo:</td>
                    <td class="dati"scope="col">{{profilo.dati.ruolo}} </td>
                </tr>
                <tr>
                    <td class="desc"scope="col">Nome:</td>
                    <td class="dati"scope="col">{{profilo.dati.nome}} </td>
                </tr>
                <tr>
                    <td class="desc"scope="col">Cognome:</td>
                    <td class="dati"scope="col">{{profilo.dati.cognome}} </td>
                </tr>
                <tr>
                    <td class="desc"scope="col">Email:</td>
                    <td class="dati"scope="col">{{profilo.dati.email}} </td>
                </tr>
            </table>
        </div>
        <br>
        <div *ngIf="profilo.sonoio==true">
            <button class="btn btn-secondary btn-sm" (click)="profilo.reset()">Reset password</button> 
        </div> 
    </div>
    <br>
</div>