<div class="card">
    <div class="card-body">
        <div class="tabella">
            <table class="table table-striped">
                <tr>
                    <td class="desc">Username:</td>
                    <td class="dati">{{profilo.dati.username}} </td>
                </tr>
                <tr>
                    <td class="desc">Ruolo:</td>
                    <td class="dati">{{profilo.dati.ruolo}} </td>
                </tr>
                <tr>
                    <td class="desc">Nome:</td>
                    <td class="dati">{{profilo.dati.nome}} </td>
                </tr>
                <tr>
                    <td class="desc">Cognome:</td>
                    <td class="dati">{{profilo.dati.cognome}} </td>
                </tr>
                <tr>
                    <td class="desc">Email:</td>
                    <td class="dati">{{profilo.dati.email}} </td>
                </tr>
            </table>
        </div>
        <br>
        <div *ngIf="profilo.sonoio==true">
            <button class="btn btn-secondary btn-sm" (click)="profilo.reset()">Reset password</button> 
        </div> 
    </div>
    <br>
</div>