.gioco{
    width: 100px;
    height: 100px;
    border-color: black;
    border: solid;
    margin: 3%;
    text-align: center;
    justify-content: center;
    background-color: rgba(255, 106, 0, 0.677);
}

.gioco:hover {
    background-color: rgb(255, 106, 0);
}

.giochi{
    display: flex;
    flex-wrap: wrap;
}