<app-navbar></app-navbar>
<div *ngIf="profilo.sonoio==true ; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <h5>Benvenuto nel tuo profilo</h5>
</ng-template>
<ng-template #elseBlock>
    <h5>Benvenuto nel profilo di {{profilo.profile}}</h5>
</ng-template>
<br>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">


        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                DATI
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div *ngIf="profilo.selectedDati">
                    <app-dati-utente></app-dati-utente>
                </div>
                <div *ngIf="profilo.selectedReset">
                    <app-reset-password></app-reset-password>
                </div>
                <div *ngIf="profilo.selectedNewPassword">
                    <app-newpassword></app-newpassword>
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                STATISTICHE GIOCHI
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <app-classifiche-utente></app-classifiche-utente>
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                PREFERITI
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <app-preferiti></app-preferiti>
            </div>
        </div>


        <div *ngIf="(profilo.sonoio==true && profilo.ruolo!='admin')||(profilo.sonoio==false && profilo.ruolo=='admin')">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFor">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
                        PRENOTAZIONI
                    </button>
                </h2>
                <div id="collapseFor" class="accordion-collapse collapse" aria-labelledby="headingFor" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <app-appuntamenti></app-appuntamenti>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div *ngIf="profilo.sonoio==true">
    <button id="eliminia" class="btn btn-dark btn-sm" (click)="profilo.showElimina()">Cancella account</button>
</div>