<ejs-schedule width='100%' height='550px' [selectedDate]='selectedDate' [views]='views' [eventSettings]='eventSettings' (popupOpen)='onPopupOpen($event)'>
    <e-views> 
        <e-view option="Week" startHour="{{dati.oraInizio}}" endHour="{{dati.oraFine}}"></e-view>
    </e-views>
    <ng-template #editorTemplate let-data>

        <h2>Resoconto appuntamento</h2>
        <table class="custom-event-editor" width="100%" cellpadding="">
            <tbody>
                <tr>
                    <td class="e-textlabel"> Utente </td>
                    <td colspan=4>
                        <input class="form-control" type="text" placeholder="{{this.biscotto.getUsername()}}" readonly>
                    </td>
                </tr>

                <tr>
                    <td class="e-textlabel"> Data e ora </td>
                    <td colspan=4>
                        <ejs-datetimepicker id="startTime" class="e-field form-control" data-name="StartTime" format="dd/M/yy h:mm"
                        [value]="dateParser(data.StartTime)"  readonly=true></ejs-datetimepicker>
                        <p>{{this.dati.online}}</p>
                    </td>
                </tr>
                <tr>
                    <input *ngIf="this.dati.online=='true'" type="radio" name="radioButton" id="radioButton" (change)="checked('Online')" />
                    <label *ngIf="this.dati.online=='true'" for="radioButton">Online</label>
                    <input *ngIf="this.dati.domiclio=='true'" type="radio" name="radioButton" id="radioButton1" (change)="checked('Domiclio')" />
                    <label *ngIf="this.dati.domiclio=='true'" for="radioButton1">Domiclio</label>
                    <input *ngIf="this.dati.domiclio=='true'|| this.dati.online=='true'" type="radio" name="radioButton" id="radioButton2" (change)="checked('Ufficio')" />
                    <label *ngIf="this.dati.domiclio=='true'||this.dati.online=='true'" for="radioButton2">Ufficio</label>
                </tr>

            </tbody>
        </table>
        
        
        <button (click)="confermaAppuntamento()"> Conferma </button>
        
        <div class="alert alert-danger" role="alert" *ngIf="msgMezzora == true">
            Il principino vuole fare alla mezza, metti un orario vero per l'amor di Dio
        </div>

        
    </ng-template>
</ejs-schedule>
