<app-navbar></app-navbar>
<div class="conteiner" *ngIf="stop===false; else bastaFrame" >
   
    <iframe width="100%" height="200%"
    [src]="link | safe" 
    id="inneriframe" scrolling="no" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen 
    alt="Hai visto troppi video pero oggi"
    (click)='swippa()'>
    </iframe>
    <button (click)="swippa()"> cambio</button>
</div>

<ng-template #bastaFrame>
    <h3>Basta video per oggi</h3>
    <h5>Vatti a lavare i denti e vai a dormire</h5>
    <img src="https://m2.paperblog.com/i/191/1916613/che-ci-ridi-la-minchia-L-jqVVIO.jpeg">
</ng-template>

