<div *ngIf="gioco === false" class="menuMemory">
  <button type="button" class="btn btn-primary rosso btn-lg btn-block" (click)="numeroDiCoppie(5)">Modalità facile: 5 coppie</button>
  <button type="button" class="btn btn-primary rosso btn-lg btn-block" (click)="numeroDiCoppie(8)">Modalità media: 8 coppie</button>
  <button type="button" class="btn btn-primary rosso btn-lg btn-block" (click)="numeroDiCoppie(12)">Modalità difficile: 12 coppie</button>
</div>
<div *ngIf="gioco === true">
  <span>Mosse: <span id="mosse">0</span></span>
  <app-memory-board [numeroCoppie] = "numeroCoppieNum"></app-memory-board>
</div>

