<h2 class="mb-4">Memory</h2>
<div *ngIf="gioco === false">
  <button type="button" class="btn btn-primary" (click)="numeroDiCoppie(5)">5</button>
  <button type="button" class="btn btn-primary" (click)="numeroDiCoppie(8)">8</button>
  <button type="button" class="btn btn-primary" (click)="numeroDiCoppie(12)">12</button>
</div>
<div *ngIf="gioco === true">
  <span>Mosse: <span id="mosse">0</span></span>
  <p> {{numeroCoppieNum}}</p>
  <app-memory-board [numeroCoppie] = "numeroCoppieNum"></app-memory-board>
</div>

