#container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 40%;
    justify-items: stretch;
    column-gap: 4%;
    row-gap: 15%;
    margin-right: 5%;
    margin-left: 3%;
}

 div > p{
    border: rgb(190, 141, 4) solid;
    background-color: blanchedalmond;
    text-align: center;
    text-size-adjust: 10;
    border-radius: 5%;
    margin:2%;
    padding: 2%;
}

#container > button:nth-child(3){
    grid-row: 1/2;
    grid-column: 1;
}

#container > button:nth-child(2){
    grid-row: 2/3;
    grid-column: 2;
}

#container > button:nth-child(4){
    grid-row: 2/3;
    grid-column: 1;

}

#container > button:nth-child(1){
    grid-row: 1/2;
    grid-column: 2;
}

.rosso{
    background-color: #AA0000;
    border-color: #AA0000;
    color: white;
    width: 40%;
}