<app-navbar> </app-navbar>
<br>
<h3>Benvenuto nella sezione classifiche</h3>
<p>Di quale gioco vuoi visualizzare le classifiche?</p>
<br>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          QUIZ
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">

          <!-- Classifica punteggio totale -->
          <div *ngIf="classificaPunteggioTotale != []">
            <h4>Classifica punteggi totale</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Utente</th>
                  <th scope="col">Punteggio totale</th>
                </tr>
              </thead>
              <tbody *ngFor="let punteggio of classificaPunteggioTotale, index as i">
                <tr>
                  <th scope="row">{{i + 1}}</th>
                  <td>{{punteggio.user}}</td>
                  <td>{{punteggio.punteggio}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Classifica punteggio media -->
          <div *ngIf="classificaPunteggioMedia != []">
            <h4>Classifica punteggi media</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Utente</th>
                  <th scope="col">Punteggio totale</th>
                </tr>
              </thead>
              <tbody *ngFor="let punteggio of classificaPunteggioMedia, index as i">
                <tr>
                  <th scope="row">{{i + 1}}</th>
                  <td>{{punteggio.user}}</td>
                  <td>{{punteggio.punteggio}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Classifica punteggi perfetti -->
          <div *ngIf="classificaPunteggiPerfetti != []">
            <h4>Classifica punteggi perfetti</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Utente</th>
                  <th scope="col">Punteggi perfetti</th>
                </tr>
              </thead>
              <tbody *ngFor="let punteggio of classificaPunteggiPerfetti, index as i">
                <tr>
                  <th scope="row">{{i + 1}}</th>
                  <td>{{punteggio.user}}</td>
                  <td>{{punteggio.punteggio}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          

           <!-- <app-classifica-quiz [maggioriDieci]="maxDieci()"></app-classifica-quiz> -->
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          MEMORY
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <!-- Classifica memory facile -->
          <div *ngIf="dataMemoryFacile != []">
            <h4>Classifica Memory facile</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Utente</th>
                  <th scope="col">Mosse</th>
                </tr>
              </thead>
              <tbody *ngFor="let punteggio of classificaMemoryFacile, index as i">
                <tr>
                  <th scope="row">{{i + 1}}</th>
                  <td>{{punteggio.user}}</td>
                  <td>{{punteggio.punteggio}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Classifica memory medio -->
          <div *ngIf="classificaMemoryMedio != []">
            <h4>Classifica Memory facile</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Utente</th>
                  <th scope="col">Mosse</th>
                </tr>
              </thead>
              <tbody *ngFor="let punteggio of classificaMemoryMedio, index as i">
                <tr>
                  <th scope="row">{{i + 1}}</th>
                  <td>{{punteggio.user}}</td>
                  <td>{{punteggio.punteggio}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Classifica memory facile -->
          <div *ngIf="dataMemoryDifficile != []">
            <h4>Classifica Memory facile</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Utente</th>
                  <th scope="col">Mosse</th>
                </tr>
              </thead>
              <tbody *ngFor="let punteggio of classificaMemoryDifficile, index as i">
                <tr>
                  <th scope="row">{{i + 1}}</th>
                  <td>{{punteggio.user}}</td>
                  <td>{{punteggio.punteggio}}</td>
                </tr>
              </tbody>
            </table>
          </div>
            
        </div>
      </div>
    </div>
</div>
