<!-- Menu del gioco -->
<div *ngIf="gioco === 'menu'" class="menuMemory">
  <button type="button" class="btn rosso btn-lg btn-block" (click)="numeroDiCoppie(6)">Modalità facile: 6 coppie</button>
  <button type="button" class="btn rosso btn-lg btn-block" (click)="numeroDiCoppie(8)">Modalità media: 8 coppie</button>
  <button type="button" class="btn rosso btn-lg btn-block" (click)="numeroDiCoppie(12)">Modalità difficile: 12 coppie</button>
</div>

<!-- Mostra il gioco, logica del gioco in Memory-board-->
<div *ngIf="gioco === 'gioco'">
  <span>Mosse: {{mosse}}</span>
  <app-memory-board [numeroCoppie] = "numeroCoppieNum" (numeroMosse)="mosse = $event" (segnalaVittoria)="fine($event)" ></app-memory-board>
</div>

<!-- Mostra la schermata di vittoria-->
<div *ngIf="gioco === 'vittoria'" id="schermataVittoria">
  <h2>Congratulazione hai vinto {{mosse}} con mosse!</h2>
  <button type="button" class="btn btn-primary rosso btn-lg" (click)="gioco = 'menu'"> RIGIOCA </button>
</div>