<div class="carta">
  <!-- carta coperta -->
  <div class="coperta" *ngIf="stato === 'coperta'">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShOLDxtNlC0XF-TOQJ1_jPGrl06m2mzm6RHc9GvyapBi1RqLT8dHfe8TEziXx8XU1UuCM&usqp=CAU">
  </div>
    
  <!-- carta scoperta -->
  <div class="scoperta" *ngIf="stato === 'scoperta'">
    <img class="img-responsive rounded" src="{{url}}">
  </div>

  <!-- carta accoppiata -->
  <div class="accoppiata" *ngIf="stato === 'accoppiata'">
    <img class="img-responsive rounded" src="{{url}}">
  </div>
</div>
