<div class="card">
    <div class="card-body">
        <div class="formaContainer">
            <form (ngSubmit)="controllaPassword()" [formGroup]="form">            
                <h6>Inserisci la nuova password</h6>
                <div  class="form-group"><input class="input-fiel" type="password" placeholder="Password" name="password" formControlName="password"/></div>
                <br>
                <button type="submit" class="btn btn-secondary btn-sm">Confema</button>
            </form>
        </div>
    </div>
</div>
