<div *ngIf="this.id==''; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <app-titolo></app-titolo>
</ng-template>
<ng-template #elseBlock>
    <app-navbar></app-navbar>
</ng-template>
<h1>Benvenuto nella sezioni giochi di Animal House</h1>
<h5>Giochi disponibili</h5>

<div class="menu">
    <app-indietro></app-indietro>

    <!-- Crea il menu dei giochi -->
    <div class="giochi">
        <button type="button" class="btn gioco" *ngFor="let gioco of giochi" (click)="giocaA(gioco.nome)"> 
            {{gioco.nome}}
        </button>
    </div>
    
    <div> </div>
</div>

<!-- Apre il gioco selezionato-->
<div id="gioco">
    <div *ngIf="memory">
        <h2 class="mb-4">Memory</h2>
        <app-memory></app-memory>
    </div>
    <div *ngIf="quiz">
        <h2 class="mb-4">Quiz</h2>
        <app-quiz></app-quiz>
    </div>
</div>

