<app-navbar></app-navbar>
<form id="cerca" (ngSubmit)="cerca()" [formGroup]="form"> 
  <div id="all" *ngIf="this.search==true">
    <button class="btn btn-primary ms-small" id="all" type="button" (click)="cercatutti()">View all</button>
  </div>
  <input id="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" formControlName="cerca" >
  <button class="btn btn-primary ms-small" type="submit">Search</button>
</form>
<br>
<div *ngIf="this.msgalert">
  <div class="alert alert-danger d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
      <div>
        {{this.msgalert}}
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<br>
<div *ngIf="this.search==false ;then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <h5>Utenti registrati su Animal House</h5>
  <div class="tabella">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="ordinario "scope="col">#</th>
          <th class="username" scope="col">Username</th>
          <th class="nome" scope="col">Nome</th>
          <th class="cognome" scope="col">Cognome</th>
          <th class="ruolo" scope="col">Ruolo</th>
          <th class="email" scope="col">Email</th>
          <div *ngIf="this.ruolo=='admin'">
            <th class="elimina" scope="col">Elimina</th>
          </div>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let utente of this.collezioni, index as i">
          <th class="ordinario" scope="row">{{i+1}}</th>
          <td class="username"><a class="nav-link" href="profili/{{this.utente.username}}">{{this.utente.username}}</a></td>
          <td class="nome">{{this.utente.nome}}</td>
          <td class="cognome">{{this.utente.cognome}}</td>
          <td class="ruolo">{{this.utente.ruolo}}</td>
          <td class="email">{{this.utente.email}}</td>
          <div *ngIf="this.ruolo=='admin'">
            <td class="elimina"><button type="button" class="btn btn-primary mt-3" (click)="elimina(this.utente._id)">Elimina</button></td>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
<ng-template #elseBlock>
  <div class="tabella">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="ordinario "scope="col">#</th>
          <th class="username" scope="col">Username</th>
          <th class="nome" scope="col">Nome</th>
          <th class="cognome" scope="col">Cognome</th>
          <th class="ruolo" scope="col">Ruolo</th>
          <th class="email" scope="col">Email</th>
          <th class="elimina" scope="col">Elimina</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="ordinario" scope="row">1</th>
          <td class="username"><a class="nav-link" href="profili/{{this.collezione.username}}">{{this.collezione.username}}</a></td>
          <td class="nome">{{this.collezione.nome}}</td>
          <td class="cognome">{{this.collezione.cognome}}</td>
          <td class="ruolo">{{this.collezione.ruolo}}</td>
          <td class="email">{{this.collezione.email}}</td>
          <td class="elimina"><button type="button" class="btn btn-primary mt-3" (click)="elimina(this.collezione._id)">Elimina</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
