<app-titolo> </app-titolo>
<div class="sfondo">
    <br>
    <div class="containers">
        <h1>Benvenuto nella sezione Baby Animal House, lo spazio per i più piccoli.</h1>
        <p>Qui potrai divertirti, imparare e giocare con gli aniamali</p>
        <div class="listaBottoni">
            <h4>Divertiti come una rana</h4>
            <button style="background-image: url(assets/arrowRana.jpg);" [routerLink]="['/meme']"></button>
            <h4>Impara come un elefante</h4>
            <button style="background-image: url(assets/arrowElefante.jpg);" [routerLink]="['/curiosity']"></button>
            <h4>Gioca come un panda</h4>
            <button style="background-image: url(assets/arrowPanda.jpg);" [routerLink]="['/games']"></button>
            <h4>Torna indietro come un pollo</h4>
            <button style="background-image: url(assets/arrowPollo.jpg);" [routerLink]="['']"></button>
        </div>
    </div>
    
</div>
