<app-navbar></app-navbar>
<h3>Benvenuto nel tuo profilo</h3>
<br>
<div class="base">
    <br>
    <button class="btn btn-secondary btn-sm" (click)="profilo.showDati()">Dati</button> 
    <br>
    <button class="btn btn-secondary btn-sm" (click)="profilo.showStatistiche()">Statistiche giochi</button>
    <br>
    <button class="btn btn-secondary btn-sm" (click)="profilo.showPrenotazioni()">Prenotazioni</button>
    <br>
    <button class="btn btn-secondary btn-sm" (click)="profilo.showPreferiti()">Preferiti</button>
    <br>
</div>
<br>
<div *ngIf="profilo.selectedDati">
    <app-dati-utente></app-dati-utente>
</div>
<div *ngIf="profilo.selectedStatistiche">
    <app-statistiche-utente></app-statistiche-utente>
</div>
<div *ngIf="profilo.selectedPrenotazioni">
    <app-storico-prenotazioni></app-storico-prenotazioni>
</div>
<div *ngIf="profilo.selectedElimina">
    <app-elimina-account></app-elimina-account>
</div>
<div *ngIf="profilo.selectedReset">
    <app-reset-password></app-reset-password>
</div>
<div *ngIf="profilo.selectedNewPassword">
    <app-newpassword></app-newpassword>
</div>
<br>
<div *ngIf="profilo.selectedPreferiti">
    <app-preferiti></app-preferiti>
</div>
<button id="eliminia" class="btn btn-dark btn-sm" (click)="profilo.showElimina()">Cancella account</button>
