<app-navbar></app-navbar>
<div *ngIf="this.msgalert">
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
          {{this.msgalert}}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
  
<br>
<h5>Professionisti presenti su Animal House</h5>
<br>

<button class="btn btn-primary ms-small" type="Button" (click)="addProf()">Add professionista</button>
<br>

<div class="tabella">
    <table class="table table-striped">
    <thead>
        <tr>
        <th class="ordinario "scope="col">#</th>
        <th class="nome" scope="col">Nome</th>
        <th class="città" scope="col">Città</th>
        <th class="tipo" scope="col">Tipo</th>
        <th class="elimina" scope="col">Elimina</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let professionista of this.collezioni, index as i">
        <th class="ordinario" scope="row">{{i+1}}</th>
        <td class="nome"><a class="nav-link" href="professionista/{{this.professionista._id}}">{{this.professionista.nome}}</a></td>
        <td class="città">{{this.professionista.citta}}</td>
        <td class="tipo">{{this.professionista.tipo}}</td>
            <td class="elimina"><button type="button" class="btn btn-primary mt-3" (click)="elimina(this.professionista._id)">Elimina</button></td>
        </tr>
    </tbody>
    </table>
</div>
